/*index.html */

body{
  margin-top: 10vh;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.title{
  font-size: 1.8em;
  color: rgb(76, 208, 172);
  text-shadow: 2px 1px rgb(37, 103, 85)

}

ul.recipe-list{
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li{
  margin: 5px;
}

.container{
  background-color: #3e4448;
  width: 30%;
  max-width: 300px; 
  padding: 8vh;
  margin: 0 auto;
  border-radius: 15px 50px;
  border: solid rgb(76, 208, 172) 10px;
}

a{
  text-decoration: none;
}

a:link{
  color: white;
}

a:visited{
  color: #e4e4e4;
}

a:hover{
  color:#3fa88c;
}

/*recipes*/

.dish-image{
  height: 474px;
  width: auto;
}

.content{
  padding: 15px 0;
  margin-bottom: 40px;
}

.description-content{
  margin: 0 auto;
  width: 75vw;
}

.description-content p{
  padding: 10px;
  margin-top: 0;
}

ul.ingredient-list{
  list-style-position: inside;
  list-style-type: none;
}

ol.step-list{
  list-style-position: inside;
}




